body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

blockquote {
  background-color: #e6e1dc;
}

/*Ticket Page Style Guide*/

.ticketForm{
  background-color: #40a070;
}
.incomplete {
  color: #ffffff;
}
.ticketHeader{
  text-align: center;
}
.recordBtn{
  text-align: center;
}
.videoDisplay{
  text-align: center;
}
.ticketSubmit {
  margin: 5px auto;
}
.form-group{
  margin: 20px;
  padding: 20px;
}
.field{
  height: 30px
}
#description{
  height: 200px;
}
.btn{
  text-align: center;
}