/*///////////////////*/
/*Index Page Styling*/
/*///////////////////*/

body{
    background-color:#f2f2f2;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.holdup {
    color:#f2f2f2;
}

li {
    list-style: none;
}

/*http://codepen.io/pixelass/pen/gbGZYL*/
/*.primedesk {*/
    /*text-shadow: -2px -2px 0 #58d6c3, -2px -1px 0 #58d6c3, -2px 0px 0 #58d6c3, -2px 1px 0 #58d6c3, -2px 2px 0 #58d6c3, -1px -2px 0 #58d6c3, -1px -1px 0 #58d6c3, -1px 0px 0 #58d6c3, -1px 1px 0 #58d6c3, -1px 2px 0 #58d6c3, 0px -2px 0 #58d6c3, 0px -1px 0 #58d6c3, 0px 0px 0 #58d6c3, 0px 1px 0 #58d6c3, 0px 2px 0 #58d6c3, 1px -2px 0 #58d6c3, 1px -1px 0 #58d6c3, 1px 0px 0 #58d6c3, 1px 1px 0 #58d6c3, 1px 2px 0 #58d6c3, 2px -2px 0 #58d6c3, 2px -1px 0 #58d6c3, 2px 0px 0 #58d6c3, 2px 1px 0 #58d6c3, 2px 2px 0 #58d6c3;*/
    /*color: #ff6f69;*/
    /*font-size: 44px;*/
/*}*/

.primedesk {
text-shadow: -5px -5px 0 #58d6c3, -5px -3px 0 #58d6c3, -5px 0px 0 #58d6c3, -5px 3px 0 #58d6c3, -5px 5px 0 #58d6c3, -3px -5px 0 #58d6c3, -3px -3px 0 #58d6c3, -3px 0px 0 #58d6c3, -3px 3px 0 #58d6c3, -3px 5px 0 #58d6c3, 0px -5px 0 #58d6c3, 0px -3px 0 #58d6c3, 0px 0px 0 #58d6c3, 0px 3px 0 #58d6c3, 0px 5px 0 #58d6c3, 3px -5px 0 #58d6c3, 3px -3px 0 #58d6c3, 3px 0px 0 #58d6c3, 3px 3px 0 #58d6c3, 3px 5px 0 #58d6c3, 5px -5px 0 #58d6c3, 5px -3px 0 #58d6c3, 5px 0px 0 #58d6c3, 5px 3px 0 #58d6c3, 5px 5px 0 #58d6c3;
color: #c2e49c;
font-size: 50px;
}


.loginInputs li , .signedIn li{
    list-style-type: none;
    display: inline;
    padding: 5px;
    background-color:#177289;
}
.signedIn li, .waitMessage {
    color: white;
}

.signedIn {
    margin-top: 12px;
}

.signedIn button {
    margin-right: 8em;
}

#email, #password {
    padding: 5px;
    padding-right: 15px;
}


.login2, .ticketSubmit, .createuserbtn, .videoShow {
    background-color: #37c2bf;
    border-color: #37c2bf;
    color:white;
}

.createuserbtn {
    margin-left: 165px;
}


.login2:hover, .ticketSubmit:hover, .createuserbtn:hover, .videoShow:hover {
    background-color: #42a4a1;
    border-color: #42a4a1;
    color:white;
}


.nav-pills li a {
    color:white;
    background-color: #37c2bf;
}

.nav-pills li a:hover {
    color:white;
    background-color: #42a4a1;
}

li.inactive a {
    background-color: #37c2bf;
}

.registerstyle {
    color: white;
    background-color:#177289;
}

.registerstyle:hover {
    color: white;
    background-color: #37c2bf;
}

.createuser {
    color:#3F51B5;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -20px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 20px;
}

.site-footer {
    text-align: center;
    background-color: #f2f2f2;
}

a:hover {
    text-decoration: none;
}

blockquote {
  background-color: #e6e1dc;
}

header, .nav-pills, .indivnav, .loginInputs, .pull-right, .navBar, .login ul, .login form {
    background-color:#177289;
}

.nav-pills, .loginInputs {
    margin: 12px;
}

.nav-pills li {
    margin-right: 8px;
}

/*///////////////////*/
/* About Page Styling*/
/*///////////////////*/
h4 {
    margin: 6px auto 6px 18%;
    padding-top: 20px;
}

.aboutContent {
    padding-top: 30px;
    margin: 0 auto;
    width: 475px;
    text-align: center;
}
/*///////////////////*/
/*Calculator Styling*/
/*///////////////////*/
.output{
    margin: 10px;
    background-color: #ffffff;
    height: 30px;
    width: 200px;
    text-align:right;
    border: 1px solid #484848;
}

/*///////////////////*/
/*Calulator Buttons styled using ilos Style Guide colors - light gradient dark blue, and medium blue color*/
/*///////////////////*/

.numBtn, .opBtn{
    width: 40px;
    margin: 5px;
    padding: 2px;
    height: 25px;
    background-color: #3F51B5;
    color:white;
}

.clrBtn{
    display: block;
    width: 75px;
    margin: 5px auto;
    padding: 2px;
    height: 25px;
    background-color: #313446;
    color:white;
}

.numBtnGroups {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.calcbody {
    border: 2px solid #484848;
    border-radius: 10px;
    padding: 5px auto;
    margin: 5px 25% 5px auto;
    height: 250px;
    width: 225px;
}
/*///////////////////*/
/*Ticket Page Styling*/
/*///////////////////*/
.ticketPage {
    color:#ffffff;
    margin-top:15px;
}

.ticketForm{
    border: 1px solid #313446;
}

.incomplete {
  color: gray;
}

.ticketHeader{
    text-align: center;
    color: #3F51B5;
}

.recordBtn{
    text-align: center;
    margin-top: 10px;
}

.ticketSubmit {
    margin: 5px auto;
    float:right;
}

.form-group{
  margin: 20px;
  padding: 20px;
}

.field{
  height: 30px
}

#description{
  height: 200px;
}

.btn {
    text-align: center;
}

.ticketNum, .ticketDate {
    text-align: right;
}

.embedShow{
    color:#37c2bf;
    background-color: white;
    border-color:#37c2bf;
    margin-left:2px;
}
.embedShow:hover {
    color:#42a4a1;
    background-color: white;
    border-color:#42a4a1;
}

.videoShow, .embedShow {
    margin-top:5px;
    margin-bottom:3px;
}

/* div containing the url iframe to copy for the video embed*/
.videoEmbed {
    border: 1px solid #484848;
}

.heatTicket{
    margin: 5px;
    padding: 5px;
    background-color: #adadad;
    border-radius: 5px;
}

.videoDisplay{
    text-align: center;
    margin-top: 10px;
}

header, .nav-pills, .indivnav, .loginInputs, .pull-right, .waitMessage {
    background-color:#177289;
}

.waitMessage {
    margin-left: 85px;
}

.background, {
    background-color:#f2f2f2;
}

.space {
    color:#f2f2f2;
}

.nav-pills, .loginInputs {
    padding-top:10px;
}

.inline {
    display:inline-block;
}

.Open{
    border-radius: 4px;
    border: 10px solid #96c661;
}

.Resolved{
    border-radius: 4px;
    border: 10px dashed #484848;
}


/*API Instructions Page - indent language*/
.code p {
    margin-left: 200px;
    background-color: white;
}

.code, .indent, .miniIndent i {
    background-color:white;
}

.indent, .tab {
    margin-left: 100px;
}

span {
    font-weight:bold;
}