body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

blockquote {
  background-color: #e6e1dc;
}

.issue {
    margin: 5px 10% 5px auto;
    height: 300px;
    width: 300px;
    background-color: red;
}

.aboutContent {
    margin: 5px auto;
}