<div class="container">

    <img class="logo" src="../images/primedesk.png">


    <h2 class="aboutHeader"> Try out the Calulator!</h2>
    <h4 class="problem"> Problem? Let's Report an Issue.</h4>

    <div class="calcbody">

        <p class="output" name="output">{{output}}</p>

        <div class="calcButtons">
            <div class="numBtnGroups">
                <button name="btn1" class="numBtn" value="1" ng-click='numBtn("1")'>1</button>
                <button name="btn2" class="numBtn" value="2" ng-click='numBtn("2")'>2</button>
                <button name="btn3" class="numBtn" value="3" ng-click='numBtn("3")'>3</button>
                <button name="btnMin" class="opBtn" ng-click='opBtn("-")'>-</button>
                <br>
            </div>
            <div class="numBtnGroups">
                <button name="btn4" class="numBtn" value="4" ng-click='numBtn("4")'>4</button>
                <button name="btn5" class="numBtn" value="5" ng-click='numBtn("5")'>5</button>
                <button name="btn6" class="numBtn" value="6" ng-click='numBtn("6")'>6</button>
                <button name="btnAdd" class="opBtn" ng-click='opBtn("+")'>+</button>
                <br>
            </div>
            <div class="numBtnGroups">
                <button name="btn7" class="numBtn" value="7" ng-click='numBtn("7")'>7</button>
                <button name="btn8" class="numBtn" value="8" ng-click='numBtn("8")'>8</button>
                <button name="btn9" class="numBtn" value="9" ng-click='numBtn("9")'>9</button>
                <button name="btnMult" class="opBtn" ng-click='opBtn("*")'>*</button>
                <br>
            </div>

            <div class="numBtnGroups">
                <button name="btn0" class="numBtn" value="0" ng-click='numBtn("0")'>0</button>
                <button name="btnDot" class="opBtn" ng-click='opBtn(".")'>.</button>
                <button name="btnEquals" class="opBtn" ng-click='equal()'>=</button>
                <button name="btnDiv" class="opBtn" ng-click='opBtn("/")'>/</button>
                <br>
            </div>
            <button name="btnClear" class="clrBtn" ng-click='clear()'>CLEAR</button>
        </div>
    </div>
    <div class="aboutContent">
        <p class="lead"> About Us </p>
        <p> This page displays one example of how the ilos recorder API can be used to add value for customers. Report the issue you see by clicking the Report An Issue tab, and filling out a support ticket.  You can save your tickets to a user by first registering as a user. </p>
        <p> The ilos recorder shows the IBC support team what's happening by displaying a video of the problem in the support ticket itself. To try it out, use email: guest@email.com, password: guest. To see how a support representative would see the tickets, click</p>
        <a href="#allTickets"> All Tickets </a>
        <p> For more on how to implement the ilos API, click on API Instructions link below. </p>
    </div>
</div>