<div class="container">

    <button class="btn-info" ng-click="viewtkt('Open')">View Open Tickets</button>
    <button class="btn-warning" ng-click="viewtkt('Resolved')">View Resolved Tickets</button>
    <button class="btn-primary" ng-click="viewtkt('All')">View All Tickets</button>
    <div class="row">
        <div class="col-md-offset-1 ticketDisplay" ng-repeat="ticket in tickets" >
            <div class="well col-md-5 heatTicket {{ticket.tktStatus}}">
                <div class="col-md-9">
                    <p class="lead">{{ticket.problem}}</p>
                </div>
                <p class="col-md-3">{{ticket.ticketNum}}</p>
                <div>
                    <div class="col-md-8 clientField">
                        <div class="well">
                            <p><b>Name:</b> {{ticket.name}}</p>
                            <p><b>Email:</b> {{ticket.email}}</p>
                            <p><b>Phone:</b> {{ticket.phone}}</p>
                            <p><b>Department / Desk:</b> {{ticket.department}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 ticketDate">
                        <p>{{ticket.date | date :'medium'}}</p>
                    </div>
                </div>
                    <div class="col-md-12">
                        <div class="well tktDescription"><p><b>Desciption:</b> {{ticket.description}}</p></div>
                        <p><b>Browser:</b> {{ticket.browser}}</p>
                        <a ng-href="{{ticket.embedURL}}" target="_blank">View the Video</a>
                        <div class="statusBtns">
                            <p><b>Status:</b><br>{{ticket.tktStatus}}</p>
                            <div ng-show="admin" class="ticketStatus">
                                <button class="btn-warning" ng-click="ticketClass(ticket, 'Resolved')">Resolved</button>
                                <button class="btn-info" ng-click="ticketClass(ticket, 'Open')">Open</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
