<div class="backgroundArea">
    <div class="row">
        <div class="col-md-offset-1 ticketDisplay" ng-repeat="ticket in allTickets" >
            <div class="well col-md-5 heatTicket {{ticket.tktStatus}}" ng-show="ticket.tktStatus">
                <div class="col-md-9 ticketProblem"><p>{{ticket.problem}}</p></div>
                <div class="col-md-3 ticketNum"><p>{{ticket.ticketNum}}</p></div>
                <div>
                    <div class="well col-md-8 clientField">
                        <div class="ticketClient"><p>NAME: {{ticket.name}}</p></div>
                        <div class="ticketClient"><p>EMAIL: {{ticket.email}}</p></div>
                        <div class="ticketClient"><p>PHONE: {{ticket.phone}}</p></div>
                        <div class="ticketClient"><p>DEPARTMENT/ DESK: {{ticket.department}}</p></div>
                    </div>
                    <div class="col-md-4 ticketDate"><p>{{ticket.date | date :'medium'}}</p></div>
                </div>
                <div>
                    <div class="col-md-12">
                        <div class="well ticketDescription"><p>DESCRIPTION: {{ticket.description}}</p></div>
                        <div class="ticketBrowser"><p>BROWSER: {{ticket.browser}}</p></div>
                        <div class="ticketIframe">{{ticket.iframe}}</div>
                    </div>
                </div>
                <div ng-show="admin" class="ticketStatus">
                    <a ng-click="ticketClass(ticket, 'tktClosed')">Close</a>
                    <a ng-click="ticketClass(ticket, 'tktArchived')">Archive</a>
                </div>
            </div>
        </div>
    </div>
    <a ng-click="showHide()" class="hide">View Archive</a>
</div>