<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div ng-app ng-controller="calculatorController">
        <div class="calcbody">
            <!-- Calculator Display -->
            <div class="thinborder" >
                <p class="output" name="output">
                    {{output}}<br>
                    {{operationToken}}
                </p>
            </div>
            <div class="calcbuttons">
                <button name="btn1" class="numBtn" value="1" ng-click='numBtn(1)'>1</button>
                <button name="btn2" class="numBtn" value="2" ng-click='numBtn(2)'>2</button>
                <button name="btn3" class="numBtn" value="3" ng-click='numBtn(3)'>3</button>
                <button name="btnMinus" class="opBtn" ng-click='opBtn(-)'>-</button>
                <br>
                <button name="btn4" class="numBtn" value="4" ng-click='numBtn(4)'>4</button>
                <button name="btn5" class="numBtn" value="5" ng-click='numBtn(5)'>5</button>
                <button name="btn6" class="numBtn" value="6" ng-click='numBtn(6)'>6</button>
                <button name="btnPlus" class="opBtn" ng-click='opBtn(+)'>+</button>
                <br>
                <button name="btn7" class="numBtn" value="7" ng-click='numBtn(7)'>7</button>
                <button name="btn8" class="numBtn" value="8" ng-click='numBtn(8)'>8</button>
                <button name="btn9" class="numBtn" value="9" ng-click='numBtn(9)'>9</button>
                <button name="btnEquals" class="opBtn" ng-click='equal()'>=</button>
                <br>
                <button name="btn0" class="numBtn" value="0" ng-click='numBtn(0)'>0</button>
                <button name="btnClear" class="clrBtn" ng-click='clear()'>CLEAR</button>
            </div>
        </div>
    </div>
</body>
</html>