<div class="container well text-center">
    <form name="createUserForm" class="col-md-offset-2 col-md-8 form-horizontal" novalidate
          ng-submit="createUser(newUser)">
        <fieldset>
            <h2 class="createuser">Create User Login Information</h2>
            <div class="form-group">
                <label class="col-md-3 control-label" for="email">Email:</label>
                <div class="col-md-9">
                    <input ng-model="newUser.email" ng-required="true" autofocus type="email" id="email" name="email"/>
                    <p ng-show="createUserForm.email.$invalid && createUserForm.email.$touched">Please input a Email Address</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="newUser.password">Password:</label>
                <div class="col-md-9">
                    <input ng-model="newUser.password" ng-required="true" type="password" id="newUser.password" name="password"/>
                    <p ng-show="createUserForm.password.$invalid && createUserForm.password.$touched">Please input a Password</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="confirmPassword">Retype Password:</label>
                <div class="col-md-9">
                    <input ng-model="newUser.confirmPassword" type="password" ng-required="true" name="confirmPassword" id="confirmPassword" pw-check="newUser.password"/>
                    <div class="msg-block" ng-show="createUserForm.confirmPassword.$error.pwMatch">
                        <span class="msg-error">Passwords don't match.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="nameFirst">First Name:</label>
                <div class="col-md-9">
                    <input ng-model="newUser.name.first" ng-required="true" type="text" id="nameFirst" name="nameFirst"/>
                    <p ng-show="createUserForm.nameFirst.$invalid && createUserForm.nameFirst.$touched">Please input a First Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="nameLast">Last Name:</label>
                <div class="col-md-9">
                    <input ng-model="newUser.name.last" ng-required="true" type="text" id="nameLast" name="nameLast"/>
                    <p ng-show="createUserForm.nameLast.$invalid && createUserForm.nameLast.$touched">Please input a Last Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="phone">Work Phone #:</label>
                <div class="col-md-9">
                    <input ng-model="newUser.phone" ng-required="true" type="text" id="phone" name="phone"/>
                    <p ng-show="createUserForm.phone.$invalid && createUserForm.phone.$touched">Please input a Work Phone Number</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="department">Department or Desk #:</label>
                <div class="col-md-9">
                    <input ng-model="newUser.department" ng-required="true" autofocus type="text" id="department"
                           name="department"/>
                    <p ng-show="createUserForm.department.$invalid && createUserForm.department.$touched">Please input a Department or Desk #</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <p class="lead" ng-show="waitMsg">Please wait while your user is being created...</p>
                    <button type="submit" class="btn createuserbtn" ng-disabled="createUserForm.newUser.$invalid">Create
                        User</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
