<div class="container">

    <button class="btn-info" ng-click="viewtkt(1)">View Open Tickets</button>
    <button class="btn-warning" ng-click="viewtkt(2)">View Closed Tickets</button>
    <button class="btn-primary" ng-click="viewtkt(3)">View All Tickets</button>

    <div class="row">
        <div class="col-md-offset-1 ticketDisplay" ng-repeat="ticket in tickets" >
            <div class="well col-md-5 heatTicket {{ticket.tktStatus}}">
                <div class="col-md-9 ticketProblem"><p>{{ticket.problem}}</p></div>
                <div class="col-md-3 ticketNum"><p>{{ticket.ticketNum}}</p></div>
                <div>
                    <div class="well col-md-8 clientField">
                        <p>NAME: {{ticket.name}}</p>
                        <p>EMAIL: {{ticket.email}}</p>
                        <p>PHONE: {{ticket.phone}}</p>
                        <p>DEPARTMENT/ DESK: {{ticket.department}}</p>
                    </div>
                    <div class="col-md-4 ticketDate">
                        <p>{{ticket.date | date :'medium'}}</p>
                    </div>
                    <div class="col-md-12">
                        <div class="well ticketDescription"><p>DESCRIPTION: {{ticket.description}}</p></div>
                        <div class="ticketBrowser"><p>BROWSER: {{ticket.browser}}</p></div>
                        <div class="ticketIframe"><a>{{ticket.videoURL}}</a></div>
                        <div ng-show="admin" class="ticketStatus">
                            <button class="btn-warning" ng-click="ticketClass(ticket, 'tktClosed')">Close</button>
                            <button class="btn-info" ng-click="ticketClass(ticket, 'tktOpen')">Open</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>