<body>
    <div class="container" ng-controller="ticketController">
        <form class='ticketForm' method="post" novalidate ng-submit="ticketSubmit()">
            <h4 class="col-md-12 ticketHeader">Issue Report</h4>
            <div class="form-group">
                <label class="col-md-offset-4 col-md-2" for="problem">Problem:</label>
                <div class="col-md-6">
                    <input type="text" id="problem" name="problem" autofocus ng-model="ticket.problem" ng-required="true"/>
                    <p class="incomplete" ng-show="ticketForm.problem.$invalid && ticketForm.problem.$touched"> please input problem</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-offset-4 col-md-2" for="email">Contact Email:</label>
                <div class="col-md-6">
                    <input type="email" id="email" name="email" autofocus ng-model="ticket.email" ng-required="true"/>
                    <p class="incomplete" ng-show="ticketForm.email.$invalid && ticketForm.email.$touched"> please input email</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-offset-4 col-md-2" for="browser">Browser Used:</label>
                <div class="col-md-6">
                    <input type="text" id="browser" name="browser" autofocus ng-model="ticket.browser" ng-required="true"/>
                    <p class="incomplete" ng-show="ticketForm.browser.$invalid && ticketForm.browser.$touched"> please input browser</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-offset-4 col-md-2" for="description">Description:</label>
                <div class="col-md-6">
                    <textarea type="text" id="description" name="description" autofocus ng-model="ticket.description" ng-required="true"></textarea>
                    <p class="incomplete" ng-show="ticketForm.description.$invalid && ticketForm.description.$touched"> please input description</p>
                </div>
            </div>
            <div class="col-md-12 recordBtn">Record Button</div>
            <div class="col-md-12 videoDisplay">Video goes here</div>
            <div class="col-md-12 ticketSubmit">
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
</body>