<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container page ng-cloak" ng-controller="ticketController">
    <form class='userEnter' action="/ticket" method="post">
        <div><h4>REGISTER</h4>
            <div class="name">
                <input type="text" placeholder="First Name" id="firstName"/>
                <input type="text" placeholder="Last Name" id="lastName"/>
            </div>
            <div class="problemField">
                <label for="email">Email:</label>
                <input type="text" placeholder="problem" id="problem"/>
            </div>
            <div class="loginField">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email"/>
            </div>
            <div class="loginField">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="loginField">
                <input type="submit" value="Register"/>
            </div>
        </div>

        <script type="text/javascript" src="/javascripts/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
    </form>
</div>
</body>
</html>