<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>primeDesk</title>

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>

<header class="fluid-container" ng-controller="navigation">

    <div class="navBar pull-right">
        <ul class="nav nav-pills">
            <li><a href="#home">About</a></li>
            <li><a href="#ticket">Report An Issue</a></li>
            <li><a href="#apiInstructions">API Instructions</a></li>
        </ul>
    </div>

    <!-- /////////////////// -->
    <!-- Login Functionality -->
    <!-- /////////////////// -->
    <div class="login pull-right">

        <div ng-if="showUser">
            <ul class="signedIn">
                <li class="lead">Hi, {{user}}</li>
                <li><button class="btn btn-warning" ng-click="logout()">Logout</button></li>
            </ul>
        </div>

        <div ng-if="showLogin" class="">
            <form action="/" method="post">
                <ul class="loginInputs">
                    <li>
                        <input class="loginInputs" type="text" name="username" id="username" placeholder="Email"/>
                    </li>
                    <li>
                        <input class="loginInputs" type="password" name="password" id="password"
                               placeholder="password"/>
                    </li>

                    <li><input class="btn btn-primary" type="submit" value="Log In"/></li>
                    <li><a href="#register">Register</a></li>

                </ul>
            </form>
        </div>
    </div>



</header>

<main ng-view></main>

<!-- Scripts Start -->
<script type="text/javascript" src="/vendors/angular/angular.js"></script>
<script type="text/javascript" src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/javascripts/app.min.js"></script>

<!--<script type="text/javascript" src="/javascripts/controllers/aboutController.js"></script>-->

</body>
</html>


