<div class="container">
    <h2>API Instructions</h2>

    <p>This will be some basic text about the API instructions and problems that we encountered while implementing</p>


    <div>
        <p class="lead">Step 1: Get API keys from user</p>
        <ol class="indent">
            <li>User's API key is located in Options > Account Settings</li>
            <li>Organization's guest user API key is located in Options > Admin > Integrations</li>
        </ol>
        <!-- Commented out Code Example 1 because it is not needed to get the API key-->
        <!--<button ng-click="codeExample1=!codeExample1" class="btn-sm btn-info">See Code Example</button>-->

        <!--<div class="code" ng-show="codeExample1">-->
            <!--<blockquote>-->

            <!--</blockquote>-->
        <!--</div>-->
    </div>

        <p class="lead">Step 2: Build an Object Containing the Parameters to be passed into the POST request </p>
        <ol>
            <li><span> INCLUDE: </span></li>
            <div class="indent">
            <li>   API key: a) the guest recorder API key, or b) your individual user API key </li>
            <li>   API key type: a) 'org_guest_recorder', or b) 'user' </li>
            <li>   service name: '//the name of your organization//' </li>
            <li>   video_endpoint: '//set a url for the video endpoint on user site or application//'</li>
            <li>   video_endpoint_extras: [] </li>
            <li>   video_set_public: false </li>
            </div>
        </ol>
        <button ng-click="codeExample2=!codeExample2" class="btn-sm btn-info">See Code Example</button>

        <div class="code" ng-show="codeExample2">
                <div class="code2">
                    <p> var post_data = { </p>
                    <div class="indent">
                    <p>    api_key: "'<insert guest recorder API key from Integrations tab>'", </p>
                    <p>    api_key_type: 'org_guest_recorder', </p>
                    <p>    service_name: 'Prime Digital Academy Team', </p>
                    <p>    video_endpoint: 'polar-reef-6279.herokuapp.com/api', </p>
                    <p>    video_endpoint_extras: [], </p>
                    <p>    video_set_public: false }; </p>
                    </div>
                </div>
                <div></div>
                <div class="code2part2">
                    <p> You'll need to encode the object prior to passing it into the post request. </p>
                    <div class="indent">
                    <p> var post_data_encode = formUrlEncoded.encode(post_data); </p>
                    </div>
                    <p> For this you may need to install middleware to use form-urlencoded in Node.js. </p>
                    <div class="indent">
                    <p> npm install form-urlencoded --save </p>
                    </div>
                </div>
        </div>
    <div>
        <p class="lead">Step 3: Get one-time recorder token using user's API key</p>
        <ol>
            <li>Do a POST operation to retrieve a one-time recorder token</li>
            <div class="indent">
            <li> Operation: POST </li>
            <li> URL: https://www.ilosvideos.com/api/auth/token </li>
            <li> Content-Type: application/x-www-form-urlencoded </li>
            </div>
        </ol>
        <button ng-click="codeExample3=!codeExample3" class="btn-sm btn-info">See Code Example</button>

        <div class="code" ng-show="codeExample3">

                <div class="code3">
                <p> var post_options = {  </p>
                    <div class="indent">
                    <p>    hostname: 'www.ilosvideos.com', </p>
                    <p>    path: '/api/auth/token', </p>
                    <p>    method: 'POST', </p>
                    <p>    headers: { </p>
                    <p>    'Content-Type': 'application/x-www-form-urlencoded', </p>
                    <p>    'Content-Length': post_data_encode.length} </p>
                    </div>
                </div>
                <div></div>
        </div>
</div>

        <div>
            <p class="lead">Step 4: An example of an https request for obtaining the Object for the Record Button </p>
            <ol>
                <li>You'll need to install https in Node.js,  npm install https --save</li>
                <div class="indent">
                    <li> Operation: POST </li>
                    <li> URL: https://www.ilosvideos.com/api/auth/token </li>
                    <li> Content-Type: application/x-www-form-urlencoded </li>
                </div>

            </ol>
            <button ng-click="codeExample4=!codeExample4" class="btn-sm btn-info">See Code Example</button>

            <div class="code well" ng-show="codeExample4">
                <p> var request = https.request(post_options, function(response){ </p>
                <p class="miniIndent">// You'll want to include some helpful console logs </p>
                <div class="indent">
                    <p>console.log('STATUS: ' + response.statusCode); </p>
                    <p>console.log('HEADERS: ' + JSON.stringify(response.headers)); </p>
                    <p>console.log('DATA:' + post_data_encode); </p>
                    <br/>
                    <p>response.setEncoding('utf8'); </p>
                    <p>jsonObject = ''; </p>
                    <br/>
                    <p>response.on('data', function(res){ </p>
                    <p>jsonObject += res; </p>
                    <p>process.stdout.write(res); </p>
                    <p>console.log("response.on runs");
                    <p>}); </p>
                    <br/>
                    <p>response.on('end', function(){ </p>
                    <p>console.log('At response.end'); </p>
                    <p>jsonObject = JSON.parse(jsonObject); </p>
                    <p>callback(jsonObject); </p>
                    <p>console.log(jsonObject); </p>
                    <p>});  </p>
                    <br/>

                <p> request.on('error', function(e) {  </p>
                <p> console.log('problem with request: ' + e.message);  </p>
                <p> }); </p>
                <p></p>
                    </div>
                    <br/>
                <p>request.write(post_data_string); </p>
                <p>request.end(); </p>
            </div>
    </div>
    <div>
        <p class="lead">Step 5: You'll want to wrap your https request in a prototype to enable retreiving with a client-side call</p>
        <ol>
            <li>Create a GetData function and use .go to create a Prototype </li>
            <div class="indent">
                <li>  </li>
                <li> </li>
                <li>  </li>
            </div>
        </ol>
        <button ng-click="codeExample5=!codeExample5" class="btn-sm btn-info">See Code Example</button>

        <div class="code" ng-show="codeExample5">

            <div class="code5">
                <p>Create a function to GetData, if there is not an instance of GetData already.  This limits the call to one get for the Record Button</p>
                <p>function GetData(){</p>
                <div class="indent">
                    <p> if (!this instanceof GetData){ </p>
                    <p> return new GetData(); </p>
                    <p> } </p>
                    <p> } </p>
                </div>

                <p>Create a Prototype</p>
                    <p>    path: '/api/auth/token', </p>
                    <p>    method: 'POST', </p>
                    <p>    headers: { </p>
                    <p>    'Content-Type': 'application/x-www-form-urlencoded', </p>
                    <p>    'Content-Length': post_data_encode.length} </p>
                </div>
            </div>
            <div></div>
        </div>

</div>