<div class="container" ng-controller="ticketController">
    <form class="col-md-offset-2 col-md-8 ticketForm" name='ticketForm' novalidate ng-submit="ticketSubmit()">
        <h2 class="ticketHeader">Issue Report</h2>
        <div class="form-group">
            <label class="col-md-4" for="problem">Problem:</label>
            <div class="col-md-8">
                <input type="text" id="problem" class="col-md-10 field" name="problem" ng-model="ticket.problem" ng-required="true"/>
                <p class="incomplete" ng-show="ticketForm.problem.$invalid && ticketForm.email.$touched">Please input a problem</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4" for="email">Contact Email:</label>
            <div class="col-md-8">
                <input type="email" id="email" class="col-md-10 field" name="email" ng-model="ticket.email" ng-required="true"/>
                <p class="incomplete" ng-show="ticketForm.email.$invalid && ticketForm.email.$touched"> Please input email</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4" for="browser">Browser Used:</label>
            <div class="col-md-8">
                <input type="text" id="browser" class="col-md-10 field" name="browser" ng-model="ticket.browser" ng-required="true"/>
                <p class="incomplete" ng-show="ticketForm.browser.$invalid && ticketForm.browser.$touched"> Please input browser</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4" for="description">Description:</label>
            <div class="col-md-8">
                <textarea type="text" id="description" class="col-md-10 field" name="description" ng-model="ticket.description" ng-required="true"></textarea>
                <p class="incomplete" ng-show="ticketForm.description.$invalid && ticketForm.description.$touched"> Please input description</p>
            </div>
        </div>
        <div class="recordBtn">Record Button</div>
        <div class="videoDisplay">Video goes here</div>
        <button type="submit" class="btn btn-primary ticketSubmit" ng-disabled="ticketForm.$invalid">Submit Ticket</button>
    </form>
</div>