/*Index Page Styling*/
* {
    margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -20px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 20px;
}
.site-footer {
    text-align: center;
    background-color: #777777;
}

a {
  color: #00B7FF;
}

blockquote {
  background-color: #e6e1dc;
}

/* About Page Styling*/
.issue {
    margin: 5px 10% 5px auto;
    height: 300px;
    width: 300px;
    background-color: red;
}

.aboutContent {
    margin: 5px auto;
}
/*Ticket Page Styling*/

.ticketForm{
  background-color: #40a070;
}
.incomplete {
  color: #ffffff;
}
.ticketHeader{
  text-align: center;
}
.recordBtn{
  text-align: center;
}
.videoDisplay{
  text-align: center;
}
.ticketSubmit {
  margin: 5px auto;
}
.form-group{
  margin: 20px;
  padding: 20px;
}
.field{
  height: 30px
}
#description{
  height: 200px;
}
.btn{
  text-align: center;
}

