/*Index Page Styling*/
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -20px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 20px;
}

.site-footer {
    text-align: center;
    background-color: #777777;
}

button {
  background-color: #42a4a1;
  color:white;
}

blockquote {
  background-color: #e6e1dc;
}

/* About Page Styling*/
.issue {
  margin: 5px 10% 5px auto;
  height: 300px;
  width: 300px;
  background-color: red;
}

.aboutContent {
  margin: 5px auto;
}

/*Calculator Styling*/
.output{
    margin: 10px;
    background-color: #ffffff;
    height: 50px;
    width: 200px;
}


.numBtn, .opBtn{
    width: 40px;
    margin: 5px;
    padding: 2px;
    height: 25px;
    background-color: #009926;
}

.clrBtn{
    width: 75px;
    margin: 5px;
    padding: 2px;
    height: 25px;
    background-color: #dd1144;
}

/*Ticket Page Styling*/

.ticketForm{
  background-color: #40a070;
}

.incomplete {
  color: #ffffff;
}

.ticketHeader{
  text-align: center;
}

.recordBtn{
  text-align: center;
}

.videoDisplay{
  text-align: center;
}

.ticketSubmit {
  margin: 5px auto;
}

.form-group{
  margin: 20px;
  padding: 20px;
}

.field{
  height: 30px
}

#description{
  height: 200px;
}

.btn{
  text-align: center;
}

header{
  color: #177289
}

.heatTicket{
    background-color: #adadad;
    border-radius: 5px;
    margin: 10px;
}
.ticketNum{
    text-align: right;
}