body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

blockquote {
  background-color: #e6e1dc;
}

.incomplete {
  color: #ff0000;
}
.ticketHeader{
  text-align: center;
}
.recordBtn{
  text-align: center;
}
.videoDisplay{
  text-align: center;
}
.ticketSubmit{
  text-align: center;
}